/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.construction {
    text-align: center;
    font-size: 50px;
}

@import url("sanitize.css");
.head {
    font-family: "Arial", regular;
    font-size: 30px;
    font-weight: 700;
    color: black;
}

body {
    background-color: white;
}

.page-footer {
    clear: both;
    /* allows this element to be unaffected by float property of profile-pic*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}